<div
  {{on 'click' this.toggleSelected}}
  class='card {{if this.isSelected "selected"}}'
  ...attributes
  {{!-- style={{inlineStyle}} --}}
>
  <div
    class='card-bg'
    {{! style='background-image: url(blippar.jpg)' }}
    style={{html-safe (concat 'background-image: url(' this.src ')')}}
  >
  </div>

  <div class='card-content'>

    <div>{{@role.employer.name}}</div>
    <div>
      {{@role.title}}
    </div>
  </div>
</div>