<div class='role-container'>
  {{#let @model as |role|}}
    <div>
      <AbstractBox
        @title={{role.title}}
        @startdate={{role.startdate}}
        @enddate={{role.enddate}}
      />
      <div class='role-description'>{{role.description}}</div>
    </div>
    <EmployerBox @employer={{role.employer}} />
    <TagsBox @tags={{role.tags}} />
  {{/let}}
</div>